*{
    margin: 0;
    padding: 0;
}
body{
    background: turquoise;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
#logo{
    color: orange;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}
a:hover{
    background: red;
}
.portal{
    width:420px;
    padding:30px 60px;
}
.portal h1{
    color: purple;
    font-size: 80px;
    padding-left: 140%;
}
button{
    height: 80px;
    width: 650px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    background-color: aquamarine;
}
button:hover{
    color: white;
}
#profile{
    margin-top: 30px;
}
#profile button:hover{
    background: green;
}
#announcements{
    position: relative;
    bottom: 80px;
    left: 750px;
}
#announcements button:hover{
    background: pink;
}
#proj_details{
    position: relative;
    top: 80px;
}
#proj_details button:hover{
    background: blue;
}
#complaints{
    position: relative;
    left: 750px;
}
#complaints button:hover{
    background: brown;
}