@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: tomato;
    background-image:  url('LOGIN.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.w{
    width:420px;
    background: transparent;
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.w h1{
    font-size: 36px;
    text-align: center;
}
.w .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: salmon;
    margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:2px solid rgba(255, 255, 255, .2)
    border-radius 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.w .rem-for{
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 3px;
}
.rem-for a{
    padding: 6px;
    color: #fff;
    text-decoration: none;
    height: 40px;
    width: 170px;
    text-align: center;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    cursor: pointer;
    font-size:16px ;
    color: #333;
    font-weight: 600;
}
.rem-for a:hover{
    color: red;
}
button{
    height: 40px;
    width: 343px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    cursor: pointer;
    font-size:16px ;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}
button:hover{
    color: red;
}
.w .register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight:600;
}
.register-link p a:hover{
    text-decoration: underline;
}